body {
  background-color: rgb(85, 78, 86);
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 50%;
  background-color: white;
  color: black;
}

th, td {
  padding: 15px;
  text-align: center;
}

.border {
  border-style: solid;
  border-width: 7px;
  border-color: rgb(163, 152, 156);
}

.time {
  color: rgb(97, 121, 131);
}

.margin {
  margin-bottom: 50px;
}

.text-box {
  text-align: center;
  margin: 50px auto;
  max-width: 650px;
  font-size: 20px;
  padding: 50px 40px 0 40px;
}

.break-line {
  width: 20%;
  color: rgb(163, 152, 156);
  height: 2px;
  border-width: 0;
  background-color: rgb(163, 152, 156);
}

.schedule {
  padding-top: 30px;
  font-size: 35px;
  margin-bottom: 0px;
}

.when {
  font-size: 20px;
}

.place {
  font-size: 20px;
  margin-top: -10px;
}

@media only screen and (max-width: 420px) {
  th, td {
    padding: 4px;
    text-align: center;
  }
  table {
    padding: 0;
  }
}