body {
    background-color: rgb(85, 78, 86)
}

h1 {
  margin-bottom: -15px;
}

.break-line {
  width: 20%;
  color: rgb(163, 152, 156);
  height: 2px;
  background-color: rgb(163, 152, 156);
  border-width: 0;
}

.margins {
  margin-top: 70px;
  margin-bottom: 50px;
}

.center {
  text-align: center;
}

.touch {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.info {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
