body {
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
    overflow: auto;
    background-color: rgb(97, 121, 131);
    color: white;
}

img {
    display: block;
    overflow: hidden;
    width: 200px;
}

h2{
    text-align: center;
}

/* Linkatributter hentet fra w3school */

a:link {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bolder;
}

a:visited {
    color: rgb(137, 124, 126);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(139, 98, 105);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/* endrer farge på header, setter høyden til 50px, sørger for at den blir med på scrolling, går over hele skjermen horisontalt, at den er helt i toppen og tekst på riktig sted*/

.header {
    background-color: rgb(97, 121, 131);
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    padding-right: 45px;
}

/* header hover hentet fra w3school */

.header a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    color: white;
    text-decoration: none;
}

.header a:hover {
    background: #ddd;
    color: black;
}

/* sørger for at menyen ikke dekker over skriften*/

.main {
    margin-top: 50px;
}

.underline {
    text-decoration-line: underline;
    text-decoration: underline;
}

.color-underline-inova {
    text-decoration-color: rgb(97, 121, 131);
}

.color-underline-history {
    text-decoration-color: rgb(163, 152, 156);
}

.backround-image-container {
    background-image: url('img/Forsidebilde.jpg');
    height: 500px;
    padding-top: 100px;
}

.image-container {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(85, 78, 86);
    border-bottom: ;
}

.divider-line {
    width: 25%;
    color: hotpink;
    height: 2px;
    border-width: 0;
    background-color: hotpink;
}

.text-box-missionstatement {
    background-color: rgb(163, 152, 156);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(85, 78, 86);
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.history-text-box {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.botom-pictures-container {
    display: flex;
}

.mentors {
    flex: auto;
    text-align: center;
}

.innovation-camp {
    flex: auto;
    text-align: center;
}

.contact {
    flex: auto;
    text-align: center;
}

.to-the-top {
    text-align: center;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.contact-info {
    flex: auto;
    background-color: rgb(163, 152, 156);
}
